extends ./layout.jade

block content
        header
          .header-content
            .header-content-inner
              h1 An App for time tracking..
              |                 
              hr
              |                 
              p
                | Kuroku allows you to easily track labor hours.  Create schedules and analyze time cards. Waste less time with number crunching and maximize profits.
              |                 
              a.btn.btn-primary.btn-xl.page-scroll(href='#about') Sign up now!
        |     
        section#about.bg-primary
          .container
            .row
              .col-lg-8.col-lg-offset-2.text-center
                h2.section-heading Unleash the potential.
                |                     
                hr.light
                |                     
                p.text-faded
                  | Labore XOXO kogi, laborum tousled assumenda sriracha before they sold out. Labore mlkshk Helvetica Marfa health goth Austin magna sunt, yr aesthetic artisan heirloom chillwave commodo lo-fi.
                |                     
                a.btn.btn-default.btn-xl(href='#') Get Started!
        |     
        section#services
          .container
            .row
              .col-lg-12.text-center
                h2.section-heading Powerful tech, at your finger tips.
                |                     
                hr.primary
          |         
          .container
            .row
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-diamond.wow.bounceIn.text-primary
                  |                         
                  h3 Easy Logging
                  |                         
                  p.text-muted Easily clock in an out, even from your mobile device.
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-paper-plane.wow.bounceIn.text-primary(data-wow-delay='.1s')
                  |                         
                  h3 Predictive Analytics
                  |                         
                  p.text-muted Custom analytics, just for you.  Analyze past results, predict future performance.
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-newspaper-o.wow.bounceIn.text-primary(data-wow-delay='.2s')
                  |                         
                  h3 Access Anywhere
                  |                         
                  p.text-muted Set schedules, access time cards and metrics - no matter where you are.
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-heart.wow.bounceIn.text-primary(data-wow-delay='.3s')
                  |                         
                  h3 Safe and Secure
                  |                         
                  p.text-muted We protect your data with the utmost integrity.  Your privacy is our priority.
        |         
        section#contact
          .container
            .row
              .col-lg-8.col-lg-offset-2.text-center
                h2.section-heading Who we are
                |                     
                hr.primary
                |                     
                p
                  | At Kuroku we are dedicated to bringing you a top of the line labor time tracking. Accesible anywhere, any time, all while saving you money.
              |                 
              .col-lg-4.col-lg-offset-2.text-center
                i.fa.fa-phone.fa-3x.wow.bounceIn
                |                     
                p 555-555-5555
              |                 
              .col-lg-4.text-center
                i.fa.fa-envelope-o.fa-3x.wow.bounceIn(data-wow-delay='.1s')
                |                     
                p
                  a(href='mailto:kuroku@gmail.com') Send us an E-mail!